/* .hero {
    margin-top: 10vh;
    background-image: url(../assets/stethoscope.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    width: 100%;
    display: flex;
}

.hero .curve {
    background-image: url(../assets/hero-side-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */
.hero {
    margin-top: 10vh;
    background-color: var(--lightest);
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hero .content {
    flex: 0.6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero .content h1{
    font-size: 2rem;
    color: var(--primary);
    text-align: center;
}

.hero .content h2{
    font-size: 1.5rem;
    color: var(--daker);
    padding: 3% 10% ;
    text-align: center;
}

.hero .content p{
    font-size: 1rem;
    color: var(--dark);
    padding: 5% 12% ;
    text-align: center;
}

.hero .content .action{
    display: flex;
    align-items: center;
}

.hero .content .action .more,
.hero .content .action .contact{
    border-radius: 20px;
    color: var(--lightest);
    background: var(--primary);
    padding: 10px;
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 1.2rem;
}

.hero .content .action .contact{
    background: var(--darker);
}

.hero .curve {
    flex: 0.4;
    min-height: 30vh;
    /* background-image: url(../assets/doctor.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.hero .curve .playBtn {
    height: 70px;
    width: 70px;
}

.hero .curve .playBtn{
    position: absolute;
    right: 50%;
    top: 60%;
    background-color: var(--lightest);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transform: translate(50%, -20%);
    animation: breath 2s linear infinite;
}

@keyframes breath {
    0% {
        box-shadow: 0 0 0 15px var(--secondary);
    }
}

.hero .curve .imgBox {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hero .curve .imgBox img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

@media (min-width: 768px) {
    .hero {
        flex-direction: row;
    }
    .hero .curve .playBtn{
        position: absolute;
        right: 36%;
        top: 55%;
        /* transform: translate(40%, -20%); */
    }
}

