.hero {
    margin-top: 10vh;
    background-color: var(--lightest);
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.hero .content {
    padding-top: 5vh;
    display: flex;
    flex: 0.5;
    align-items: center;
    justify-content: center;
    background: rgb(232,246,208);
    background: linear-gradient(180deg, rgba(232,246,208,1) 0%, rgba(255,255,255,1) 100%);
}

.hero .content .content-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero .content .content-info h1{
    font-size: 2rem;
    color: var(--primary);
    text-align: center;
    font-weight: 500;
}

.hero .content .content-info h2{
    font-size: 1.5rem;
    color: var(--daker);
    padding: 3% 10% ;
    text-align: center;
}

.hero .content .content-info p{
    font-size: 1rem;
    color: var(--secondary-dark);
    padding: 5% 12% ;
    text-align: center;
}

.hero .content .content-info .action{
    display: flex;
    align-items: center;
}

.hero .content .content-info .action .more,
.hero .content .content-info .action .contact{
    border-radius: 20px;
    color: var(--lightest);
    background: var(--primary);
    padding: 10px;
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 1.2rem;
}

.hero .content .content-info .action .contact{
    background: var(--darker);
}

.hero .curve {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 0.5;
    flex-direction: column;
}

.hero .curve .wave {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../assets/Vector-mobile.svg);
    width: 100%;
    height: 25vh;
}

.hero .curve .playBtn {
    height: 50px;
    width: 50px;
}

.hero .curve .playBtn{
    position: absolute;
    right: 55%;
    top: 60%;
    background-color: var(--lightest);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    animation: breath 2s linear infinite;
}



.hero .curve .playBtn img {
    height: 20px;
    width: 16px;
}

.hero .curve .imgBox {
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .curve .imgBox img {
    height: 35vh;
}

/* .hero .curve .curve-info {
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.hero .curve .imgBox {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hero .curve .imgBox .wrapper {
    display: flex;
    animation: slide 16s infinite;
}


.hero .curve .imgBox .wrapper img {
    width: 100%;
} */


@keyframes breath {
    0% {
        box-shadow: 0 0 0 15px var(--secondary);
    }
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-100%);
    }
    55% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-200%);
    }
    80% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-300%);
    }
}

@media (min-width: 768px) {
    .hero {
        flex-direction: row;
        height: 90vh;
        min-height: 90vh;
    }
    .hero .content {
        flex: 0.4;
        background: rgb(232,246,208);
        background: linear-gradient(90deg, rgba(232,246,208,1) 0%, rgba(255,255,255,1) 100%);    
    }

    .hero .curve {
        flex: 0.6;
        flex-direction: row;
    }

    .hero .curve .playBtn {
        height: 70px;
        width: 70px;
    }

    
    .hero .curve .playBtn{
        position: absolute;
        right: 43%;
        top: 45%;
    }

    .hero .curve .playBtn img {
        height: 28px;
        width: 22px;
    }

    .hero .curve .wave {
        background-image: url(../assets/Vector.svg);
        width: 320px;
        height: 100%;
    }
    /* .hero .curve .imgBox {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: 15vw;
    } */

    .hero .curve .imgBox img {
        height: 70vh;
    }

}

@media (min-width: 970px) {
    .hero .curve .playBtn{
        position: absolute;
        right: 46%;
        top: 43%;
    }
}

@media (min-width: 1024px) {
    .hero .curve .playBtn{
        position: absolute;
        right: 46%;
        top: 43%;
    }
}


@media (min-width: 1280px) {
    .hero .curve .playBtn{
        position: absolute;
        right: 46%;
        top: 43%;
    }
}
