
@media (min-width: 768px) { 
    header {
        background-color: transparent;
    }
    
    .logo  img {
        height: 100px;
    }
    
    .navbar {
        display: flex;
        position: initial;
    }
    
    .navbar a {
        color: var(--darker);
        font-size: 1.1rem;
        font-weight: 500;
        padding: 5px 0px;
        margin: 0px 30px;
        transition: all .50s ease;
    }
    
    .navbar a:hover {
        color: var(--secondary);
    }
    
    .navbar a.active {
        color: var(--primary);
    }
    
    .menu {
        display: none;
    }
}