header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 10px 8%;
    border-bottom: 1px solid #E8F6D0;
    transition: all .50s ease;

}

.logo {
    display: flex;
    align-items: center;
}

.logo  img {
    height: 70px;
}

/* .navbar {
    display: none;

} */

.navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 200px;
    height: 100vh;
    background: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    padding-top: 10px;
    transition: all .50s ease;
}

.navbar.open {
    right: 2%;
}

.navbar a {
    display: block;
    margin: 12px 0;
    padding: 0 25px;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
    color: var(--light);
}

.navbar a.active {
    font-weight: 600;
}

/* .navbar a {
    color: var(--darker);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0px;
    margin: 0px 30px;
    transition: all .50s ease;
} */

/* .navbar a:hover {
    color: var(--secondary);
}

.navbar a.active {
    color: var(--primary);
} */

.menu {
    display: flex;
}

.menu img {
    height: 30px;
    width: 30px;
}
