header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 28px 12%;
    transition: all .50s ease;

}

.logo {
    display: flex;
    align-items: center;
}

.logo  img {
    height: 100px;
}

.navbar {
    display: flex;

}

.navbar a {
    color: var(--darker);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0px;
    margin: 0px 30px;
    transition: all .50s ease;
}

.navbar a:hover {
    color: var(--secondary);
}

.navbar a.active {
    color: var(--primary);
}

.menu {
    display: none;
}

.menu img {
    height: 30px;
    width: 30px;
}
