.slider_section .video_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.slider_section .video_container.show {
    pointer-events: all;
    opacity: 1;
}

.slider_section .video_container .close {
    position: absolute;
    top: 10%;
    right: 25px;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.slider_section .video_container video{
    width: 90%;
    max-width: 800px;
    transform: scale(0);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    outline: none;
    transition: all 0.3s;
}

.slider_section .video_container.show video{
    transform: scale(1);
    
}